@use '../../styles/global/_main-color' as main
#contactForm
    height: fit-content
    width: 600px
    .fname-lname
        display: flex
        justify-content: space-between
        div
            width: 100%
    form
        display: flex
        flex-direction: column
        max-width: 900px